<!-- <div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h4 class="card-title">{{title}}</h4>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <form [formGroup]="role" (ngSubmit)="saveRole()">

            <div class="mb-3" *ngIf="divisionUser && !isEdit">
                <label class="form-label">User Level Type</label>
                <div class="col-sm-12">
                    <select class="form-select" aria-label="Default select example" formControlName="userLevelType"
                        (change)="onUserLevel($event)">
                        <option value="" disabled>Select User Level Type</option>
                        <option value="BUSINESS_DIVISION">BUSINESS DIVISION</option>
                        <option value="BUSINESS_VERTICAL">BUSINESS VERTICAL</option>
                    </select>
                </div>
            </div>

            <div class="mb-3" *ngIf="divisionUser && !isEdit && selectedType == 'BUSINESS_VERTICAL'">
                <label class="form-label">Business Vertical</label>
                <div class="col-sm-12">
                    <select class="form-select" [(ngModel)]="selectedBvId" aria-label="Default select example"
                        (change)="onChangeBv($event)">
                        <option value="" disabled>Select a business vertical</option>
                        <option *ngFor="let bv of bvList" [value]="bv.id">
                            {{ bv.name }}
                        </option>

                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Department</label>
                <div class="col-sm-12">
                    <select class="form-select" aria-label="Default select example" formControlName="departmentId">
                        <option value="" disabled selected>Select Department</option>
                        <option *ngFor="let dept of departmentList" [value]="dept.id">
                            {{ dept.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Role Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" formControlName="name"
                    aria-describedby="emailHelp" placeholder="Enter role name">
                <small id="emailHelp" class="form-text text-muted">Please ensure the role name is
                    relevant.</small>
            </div>
            <div class="cont-but">
                <button type="submit" class="btn btn-primary m-r-1 button-alternate">Submit</button>
                <button type="button" (click)="closepopup()" class="btn btn-danger button-alternate">Cancel</button>
            </div>

        </form>
    </div>
</div> -->




<div class="new-form">
    <form [formGroup]="role" (ngSubmit)="saveRole()">
        <div class="form-group">
            <h2 class="heading">{{title}}</h2>
            <div class="grid" style="margin-bottom: 1rem;">
                <div class="col-1-1 col-1-3-sm">
                    <div class="controls" *ngIf="divisionUser && !isEdit">
                         <i class="fa fa-caret-down"></i>
                        <select class="floatLabel" id="dep1" (change)="onUserLevel($event)"  formControlName="userLevelType">
                            <option value="blank" selected></option>
                            <option value="BUSINESS_DIVISION">Business division</option>
                            <option value="BUSINESS_VERTICAL">Business vertical</option>
                        </select>
                        <label for="dep1">Select User level type</label>
                        
                    </div>
                </div>
                <div class="col-1-1 col-1-3-sm" *ngIf="divisionUser && !isEdit && selectedType == 'BUSINESS_VERTICAL'">
                    <div class="controls">
                        <i class="fa fa-caret-down"></i>
                        <select class="floatLabel" id="dep" (change)="onChangeBv($event)" name="selectedBvId" [(ngModel)]="selectedBvId" [ngModelOptions]="{standalone: true}">
                            <option value="blank" selected></option>
                            @for (item of bvList; track $index) {
                            <option [value]='item.id'>{{item.name}}</option>
                            }
                        </select>
                        <label for="dep">Select business vertical</label>
                   
                        <!-- <label class="form-label">Business Vertical</label>
                        <select class="form-select" [(ngModel)]="selectedBvId" aria-label="Default select example"
                            (change)="onChangeBv($event)">
                            <option value="" disabled>Select a business vertical</option>
                            <option *ngFor="let bv of bvList" [value]="bv.id">
                                {{ bv.name }}
                            </option>
                        </select> -->
                    </div>
                </div>

                <div class="col-1-1 col-1-3-sm">
                    <div class="controls">
                         <i class="fa fa-caret-down"></i>
                        <select class="floatLabel" id="dep2" formControlName="departmentId">
                            <option value="blank" selected></option>
                            @for (item of departmentList; track $index) {
                            <option [value]='item.id'>{{item.name}}</option>
                            }
                        </select>
                        <label for="dep2">Select Department</label>
                    </div>
                </div>

                <div class="col-1-1 col-1-3-sm">
                    <div class="controls">
                         <input type="text" id="con" class="floatLabel" formControlName="name">
                        <label for="con">Role Name</label>
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" value="Submit" class="col-1-4 m-r-1">Submit</button>
                <button class="col-1-4" (click)="closepopup()">Cancel</button>
            </div>
        </div>
    </form>
</div>