.m-r-1 {
    margin-right: 1rem;
}

.cont-but {
    text-align: end;
}

.form-control {

    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: black !important;
    padding: 0.5rem 0.95rem !important;
}

.form-select {

    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: black !important;
    padding: 0.5rem 0.95rem !important;
}

.card-header {
    padding: 1rem;

    h4 {
        font-weight: 500 !important;
    }

}

.button-alternate {
    font-size: 0.85rem;
    padding: 0.5rem 0.9rem;
}