mat-card {
    text-align: left;
    border: 1px solid #ccc;
}

mat-form-field {
    width: 25%;
}



mat-raised-button {
    margin-top: 2rem;
}

.al-row {
    .col-3 {
        margin-bottom: 1rem !important;
    }
}

.per-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



input[type="checkbox"]:checked+label,
input[type="checkbox"]:checked {
    accent-color: darken(#0d6efd, 5%); // modern browsers

}

/* Optional: Bold or colored label text */
input[type="checkbox"]:checked+label {
    color: darken(#0d6efd, 5%);
    font-weight: 600;
}


td .primary {
    color: darken(#0d6efd, 5%) !important;
}




input[type="checkbox"] {
    width: 17px;
    height: 17px;
}

.sel-alt {
    select {
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}

h3 {
    font-size: 18px !important;
    letter-spacing: .009375em !important;
    margin: 0 5px 5px !important;
}

.actions-right {
    display: flex;
    justify-content: flex-end;
}

.th-head {
    color: black;
    font-weight: 500;
}

.td-head {
    color: black;
}

.th-fl {
    display: flex;
    gap: 0.5em;
}