mat-card {
    margin: 2%;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    border: 1px solid #ccc;
}

mat-form-field {
    width: 25%;
}

.marg-in {
    margin: 0 4%;
}

mat-raised-button {
    margin-top: 2rem;
}

.col-3 {
    margin-bottom: 1rem !important;
}



input[type="checkbox"]:checked+label,
input[type="checkbox"]:checked {
    accent-color: #ff4081; // modern browsers

}

/* Optional: Bold or colored label text */
input[type="checkbox"]:checked+label {
    color: #ff4081;
    font-weight: 600;
}

input[type="checkbox"] {
    width: 17px;
    height: 17px;
}

.sel-alt {
    select {
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}
h3 {
    font-size: 18px !important;
    letter-spacing: .009375em !important;
    margin: 0 5px 5px !important;
}