<div class="col-md-12 col-lg-12 p-1">
    <div class="">

        <div class="card-body pt-0">
            <div class="tab-content"
                *ngIf="userLevelType === 'BUSINESS_DIVISION' && selectedValue === true || userLevelType === 'SUPERADMIN'">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <div class="row align-items-center gy-4">

                                    <!-- Profile Section -->
                                    <div class="col-lg-4 col-md-6 text-center text-lg-start">
                                        <div class="d-flex flex-column flex-lg-row align-items-center">
                                            <div class="position-relative me-lg-3 mb-3 mb-lg-0">
                                                <img src="https://st2.depositphotos.com/3591429/11448/i/450/depositphotos_114485578-stock-photo-organization-management-concept.jpg"
                                                    alt="Profile" class="rounded-circle img-fluid"
                                                    style="width: 100px; height: 100px; object-fit: cover;" />
                                                <a (click)="addBusinessdivision()"
                                                    class="position-absolute bottom-0 end-0 bg-primary text-white rounded-circle p-2 border border-white"
                                                    style="transform: translate(25%, 25%);">
                                                    <i class="fa fa-pen"></i>
                                                </a>
                                            </div>
                                            <div>
                                                <h5 class="fw-semibold fs-5 mb-1">{{ businessDivision?.name }}</h5>
                                                <p class="text-muted mb-0 fw-medium">{{ businessDivision?.code }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Stats Section -->
                                    <div class="col-lg-8 col-md-6 text-lg-end">
                                        <div class="d-flex justify-content-center gap-2">
                                            <div class="text-center  border-dashed rounded p-3 flex-fill">
                                                <h5 class="fw-semibold fs-5 mb-1">7</h5>
                                                <p class="text-muted mb-0 fw-medium">Verticals</p>
                                            </div>
                                            <div class="text-center  border-dashed rounded p-3 flex-fill">
                                                <h5 class="fw-semibold fs-5 mb-1">68%</h5>
                                                <p class="text-muted mb-0 fw-medium">Success Rate</p>
                                            </div>
                                            <div class="text-center  border-dashed rounded p-3 flex-fill">
                                                <h5 class="fw-semibold fs-5 mb-1">$8620</h5>
                                                <p class="text-muted mb-0 fw-medium">Earning</p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inventory-header row align-items-center">
            <div class="col-md-6 col-12">
                <h2 class="inventory-title">Business Vertical</h2>
            </div>
            <div class="col-md-6 col-12 text-md-end text-start mt-2 mt-md-0">
                <button type="button" class="btn inventory-button" (click)="addBusinessVertical()">
                    <i class="fa fa-plus me-2"></i> Create Vertical
                </button>
            </div>
        </div>


        <div class="alt-table">
            <div class="mat-elevation-z8 mat-table-responsive">
                <table mat-table [dataSource]="dataVerticalSource" class="full-width-table">
                    <ng-container matColumnDef="verticalCode">
                        <th mat-header-cell *matHeaderCellDef> Vertical code </th>
                        <td mat-cell *matCellDef="let element"> {{element.verticalCode}} </td>
                    </ng-container>

                    <ng-container matColumnDef="BusinessVerticalTypeName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Location">
                        <th mat-header-cell *matHeaderCellDef> Location </th>
                        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef class="action-header"> Action </th>
                        <td mat-cell *matCellDef="let element" class="action-cell">
                            <button mat-icon-button color="primary" class="action-btn">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button mat-icon-button color="warn" class="action-btn">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedVerticalColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedVerticalColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>




    </div>
</div>