<div class="new-form">
    <form [formGroup]="businessVertical" (ngSubmit)="createBusinessVertical()">
        <div class="form-group">
            <h2 class="heading">{{title}}</h2> 
            <div class="grid" style="margin-bottom: 1rem;">
                <div class="col-1-2 col-1-3-sm">
                    <div class="controls">
                        <input type="text" id="con" class="floatLabel" name="name" formControlName="verticalCode">
                        <label for="con">Business Vertical Code</label>
                    </div>
                </div>
                <div class="col-1-2 col-1-3-sm">
                    <div class="controls">
                        <input type="text" id="con1" class="floatLabel" name="name" formControlName="name">
                        <label for="con1">Business Vertical Name</label>
                    </div>
                </div>
                <div class="col-1-2 col-1-3-sm">
                    <div class="controls">
                        <input type="text" id="con2" class="floatLabel" name="name" formControlName="location">
                        <label for="con2">Location</label>
                    </div>
                </div>
                <div class="col-1-2 col-1-3-sm">
                    <div class="controls">
                        <i class="fa fa-caret-down"></i>
                        <select class="floatLabel" id="bv" formControlName="businessDivisionId">
                            <option value="blank" selected></option>
                            @for (item of deptList; track $index) {
                            <option [value]='item.id'>{{item.name}}</option>
                            }
                        </select>
                        <label for="bv">Department</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" value="Submit" class="col-1-4 m-r-1">Submit</button>
                <button class="col-1-4" (click)="closepopup()">Cancel</button>
            </div>
        </div>
    </form>
</div>