<form [formGroup]="businessVertical" (ngSubmit)="createBusinessVertical()">
    <mat-card>

        <mat-card-header>
            <h1>{{title}}</h1>
        </mat-card-header>

        <mat-card-content>

            <mat-form-field appearance="outline">
                <mat-label>Vertical Code</mat-label>
                <input matInput formControlName="verticalCode">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Business Vertical Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput formControlName="location">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label >select Business Division</mat-label>
                <mat-select formControlName="businessDivisionId" (selectionChange)="getAllDepartment($event)">
                    @for (businessDivList of businessDivList; track businessDivList) {
                    <mat-option [value]="businessDivList.id">{{businessDivList.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Select Departments</mat-label>
                <mat-select formControlName="departmentIds" multiple>
                    <mat-option (click)="createDeptWhenBvAdded()" class="add-option">
                        <button mat-button color="primary" class="full-width">+ Create New Business Vertical</button>
                    </mat-option>
                  <mat-option *ngFor="let dept of deptList" [value]="dept.id">
                    {{ dept.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <!-- <mat-form-field appearance="outline">
                <mat-label>select Departments</mat-label>
                <mat-select formControlName="departmentIds" multiple>
                    @for (deptList of deptList; track deptList) {
                    <mat-option [value]="deptList.id">{{deptList.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field> -->

            <mat-card-actions>
                <button class="sub-but" type="submit" mat-raised-button color="primary">Save</button>
                <a mat-raised-button color="accent" (click)="closepopup()">Close</a>
            </mat-card-actions>

        </mat-card-content>

    </mat-card>
</form>