.mat-mdc-form-field {
    width: 47%;
    margin: 1%;
}

.ch-mat-table {
    .mat-mdc-form-field {
        width: 47.5%;
        margin: 1%;
    }
}

.mdc-card {
    margin: 2%;
}

.sub-but {
    margin-right: 0.3rem;
}

.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

// input.example-right-align {
//     -moz-appearance: textfield;
// }

.des {
    width: 97% !important;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
    line-height: 1;
}

.outerStepper {
    padding-top: 24px;
    padding-bottom: 24px;
    // margin-bottom: 160px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.innerStepper {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
}

@media (min-width: 1200px) {
    .form-container {
        flex-basis: 74.6667%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        // max-width: 66.6667%;
    }
}

@media (min-width: 992px) {
    .form-container {
        flex-basis: 74.6667%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        // max-width: 66.6667%;
    }
}

@media (min-width: 768px) {
    .form-container {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
    }
}

@media (min-width: 576px) {
    .form-container {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
    }
}

form {
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;

}

.mat-stepper-horizontal {
    background-color: transparent !important;
}

.mat-step-header:hover:not([aria-disabled]) {
    background-color: transparent !important;
}

.mat-step-header.cdk-program-focused,
.mat-step-header.cdk-keyboard-focused {
    background-color: transparent !important;
}

.for-in-con {
    padding: 16px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.upper {
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.title-name {
    line-height: 0;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);

    h5 {
        margin: 0px;
        font-size: 1.25rem;
        line-height: 1.375;
        letter-spacing: 0em;
        opacity: 1;
        text-transform: none;
        vertical-align: unset;
        text-decoration: none;
        color: rgb(52, 71, 103);
        font-weight: 700;
    }

    span {

        margin: 0px;
        font-size: 0.875rem;
        line-height: 1.5;
        letter-spacing: 0.02857em;
        opacity: 1;
        text-transform: none;
        vertical-align: unset;
        text-decoration: none;
        color: rgb(103, 116, 142);
        font-weight: 400;
    }
}

.content-pert {
    margin-top: 13px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}

.css-exssr5 {
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    letter-spacing: 0.02857em;
    min-width: 64px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 500 !important;
    border-radius: 0.2rem;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    transition: 150ms ease-in;
    min-height: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.11) 0rem 0.25rem 0.4375rem -0.0625rem, rgba(0, 0, 0, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
    padding: 0.75rem 1.5rem;
    background-image: linear-gradient(310deg, rgb(20, 23, 39), rgb(58, 65, 111));
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: rgb(255, 255, 255) !important;
    background-size: 150% !important;
    background-position-x: 25% !important;
}

.css-exssr5:hover {
    box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 7px -1px, rgba(0, 0, 0, 0.07) 0px 2px 4px -1px;
    transform: scale(1.04);
    background-color: rgba(0, 0, 0, 0);
}

.but-ali-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    margin-top: 24px;
}

.dis-fle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;

}

.css-gixbx0 {
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    letter-spacing: 0.02857em;
    min-width: 64px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 0.2rem;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    transition: 150ms ease-in;
    min-height: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.11) 0rem 0.25rem 0.4375rem -0.0625rem, rgba(0, 0, 0, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
    padding: 0.75rem 1.5rem;
    background-image: linear-gradient(310deg, rgb(206, 212, 218), rgb(235, 239, 244));
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: rgb(58, 65, 111);
    background-size: 150% !important;
    background-position-x: 25% !important;
}

.css-gixbx0:hover {
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, 0.09) 0rem 0.1875rem 0.3125rem -0.0625rem, rgba(0, 0, 0, 0.07) 0rem 0.125rem 0.3125rem -0.0625rem;
}

.outerStepper {
    width: 100%;
    padding: 20px;
}

.for-in-con {
    padding: 16px;
    border-radius: 10px;
    border: 1px solid gainsboro;
}

.upper {
    margin-bottom: 5px;
}

.title-name {
    margin-bottom: 16px;

    h5 {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }

    span {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
    }
}

// .form-field {
//     display: flex;
//     flex-direction: column;
//     gap: 6px;

//     label {
//         font-weight: 500;
//         color: rgba(0, 0, 0, 0.87);
//     }

//     .required {
//         color: #f44336;
//     }
// }

.form-field1 {
    width: 100%;

    label {
        margin-bottom: 8px;
        margin-left: 4px;
        font-size: 0.85rem;
        line-height: 1.25;
        letter-spacing: 0.03333em;
        opacity: 1;
        text-transform: capitalize;
        vertical-align: unset;
        text-decoration: none;
        color: rgb(52, 71, 103);
        font-weight: 500;
    }
}


.form-field {
    width: 50%;
    padding-top: 24px;

    label {
        margin-bottom: 8px;
        margin-left: 4px;
        font-size: 0.85rem;
        line-height: 1.25;
        letter-spacing: 0.03333em;
        opacity: 1;
        text-transform: capitalize;
        vertical-align: unset;
        text-decoration: none;
        color: rgb(52, 71, 103);
        font-weight: 500;
    }

    input {
        width: 100%;
    }
}

// stepper focus is set to transparent( display : none )
::ng-deep .mat-step-header {
    outline: none !important;
    box-shadow: none !important;
    background-color: inherit !important;
    transition: none !important;
}

::ng-deep .mat-step-header:hover,
::ng-deep .mat-step-header.cdk-focused,
::ng-deep .mat-step-header.cdk-program-focused,
::ng-deep .mat-step-header:focus {
    background-color: inherit !important;
    box-shadow: none !important;
    outline: none !important;
}

::ng-deep .mat-step-header .mat-ripple-element {
    display: none !important;
}



.input-container {
    position: relative;
    box-sizing: border-box;
    position: relative;
    cursor: text;
    -webkit-box-align: center;
    padding: 0.5rem 2.5rem 0.5rem 0.75rem;
    border: 0.0625rem solid rgb(210, 214, 218);
    border-radius: 0.2rem;
    pointer-events: auto;
    display: grid !important;
    place-items: center !important;
    width: 100% !important;
    height: auto !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.4 !important;
    color: rgb(73, 80, 87) !important;
    background-color: rgb(255, 255, 255) !important;
    background-clip: padding-box !important;
    appearance: none !important;
    transition: box-shadow 150ms, border-color 150ms, padding 150ms !important;

    input,
    textarea {
        color: rgb(73, 80, 87);
        border: 0px;
        box-sizing: content-box;
        background: none;
        margin: 0px;
        -webkit-tap-highlight-color: transparent;
        display: block;
        min-width: 0px;
        // animation-name: mui-auto-fill-cancel;
        animation-duration: 10ms;
        height: 1.375rem;
        width: 100% !important;
        padding: 0px !important;

        &:focus-visible {
            outline-offset: 0 !important;
            outline-width: 0 !important;
        }
    }

    .mat-icon.status-icon {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;

        // &.valid {
        //     color: #4caf50 !important;
        // }

        // &.invalid {
        //     color: #f44336 !important;
        // }
    }
}

:host ::ng-deep .input-container .mat-icon.status-icon {
    &.valid {
        color: #4caf50;
    }

    &.invalid {
        color: #f44336;
    }
}

mat-error {
    font-size: 12px;
    color: #f44336;
}



.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

