<div class="padding-2">
 
  <div class="row name">
    <div class="col-6">
      <div class="col-12">
        <h1 style="margin: 0;">Department</h1>
      </div>
    </div>

    <div class="col-6 but-name">
      <button type="button" class="btn btn-primary prim-edit" (click)="createDepartment()"> <i class="fa fa-plus"></i> Create Department</button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="DepartmentName">
        <th mat-header-cell *matHeaderCellDef> Department Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button class="sub-edit" (click)="onEditDept(element.id)"><i class="fa fa-pencil"></i></button>
          <button class="sub-delete" (click)="onDeleteDept(element.id)"><i class="fa fa-trash"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
      aria-label="Select page of periodic elements"></mat-paginator>
  </div>
</div>


