.name {
    margin-top: 2rem;
}

.but-name {
    text-align: end;
}

.nav-in {
    font-size: 13px;
    font-weight: 400;
    color: grey;
}

.sub-but {
    margin-right: 0.3rem;
}

.padding-2 {
    padding: 0 2rem !important;
}

.prim-edit {
    border-radius: 3px;
    margin-bottom: 1rem;
}

// table actiob style in between
.action-header {
    text-align: center;
}

.action-cell {
    display: flex;
    justify-content: center;
    gap: 8px; // space between buttons
}

.action-btn {
    // optional: customize padding/margin here
}